@model IEnumerable<Thing>
<div class="border-standard-free" style="margin-bottom: 0px; z-index: 1">
    <form method="get" asp-action="index" name="search" class="form-inline fixed-bottom" style="z-index: 0;width: 300px; padding-bottom: 40px; padding-right: 0px; margin: 0px">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="search" style="width: 115px; padding-right: 5px; margin: 5px 0px 5px 0px; color: rgb(226, 226, 213); background-color: rgb(140,0,57)">
    </form>

    @foreach(var product in Model)
    {
    <div class="thing-card">
        <h5>@product.Name</h5>
        <img class="thing-image" src="@product.ImagePath" alt="@product.Name" />
        <h6>•@product.Category•</h6>
        <p><b>Maker: •@product.Maker•</b></p>
        <p><span class="limitText">@product.Description </span> </p>
        <p><b>Shipping(Earth Days): •@product.ShippingDays•</b></p>

        <form method="post" asp-action="details">
            <input type="hidden" name="id" value="@product.Id" />
            <select name="color">
                <option value="original">Original Color</option>
                <option value="grayscale" asp-controller="Things" asp-action="ChangeColor" asp-route-id="@product.Id" >grayscale</option>
            </select>
            <br />
            @*@(product.Price.HasValue ? product.Price.Value.ToString("c") : "No Price")*@

            <button asp-controller="Things" asp-action="Details" asp-route-id="@product.Id" class="btn btn-red">View Details</button>
            <button asp-controller="Things" asp-action="AddToCart" asp-route-id="@product.Id" class="btn btn-red"><b>Add To Crate • </b> @(product.Price.HasValue ? product.Price.Value.ToString("c") : "No Price") </button>
        </form>
    </div>
    }
</div>
    <form class=form-inline style="z-index: 0;width: 300px; padding-bottom: 40px; padding-left: 0px; margin: 0px" >
        <select class=form-control name="category" onchange="this.form.submit()" style="color: rgb(226, 226, 213); background-color: rgb(140,0,57); padding-right: 5px; position: fixed; bottom: 40px !important; right: 1px; width: 150px; padding-left: 5px; margin: 5px 0px 5px 0px">
            @if (string.IsNullOrEmpty(ViewBag.selectedCategory))
                {
                    <option value="" selected>All Products</option>
                }
                else
                {
                    <option value="">All Products</option>
                }
                @foreach (string category in (string[])ViewData["Categories"])
                {
                    @if (ViewBag.selectedCategory == category)
                    {
                        <option value="@category" selected>@category</option>
                    }
                    else
                    {
                        <option value="@category">@category</option>
                    }
                }
        </select>
    </form>

    @*<link rel="stylesheet" href="~/css/orbit.css" />
    <h1>
        <em> </em>
        <em class="planet left"><img src="/images/PortalBenjaminDark.png" style="width: 30px" /></em>
        <em class="planet right">⚛︎</em>
        <em class="planet middle">•</em>
    </h1>
    <div class="fixed-bottom" style="z-index: -20; padding-right: 25px; right: 1px">
        <img class=" image-neuron" src="/images/PortalBenjaminDark.png" />
    </div>*@

@section Scripts{ 
    <script type="text/javascript">
function scrollBottom() {window.scrollTo(0, 99999);}
if (document.addEventListener) document.addEventListener("DOMContentLoaded", scrollBottom, false)
else if (window.attachEvent) window.attachEvent("onload", scrollBottom);
    </script>
}

