@model IEnumerable<Thing>
        <form method="get" asp-action="index" name="search" class="form-inline my-2 my-lg-0 fixed-bottom" style="z-index: 0;width: 300px; padding-bottom: 55px">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
            <button class="btn btn-outline-default my-2 my-sm-0" type="submit" value="search">Search</button>
        </form>
    <form>
        <select class=btn name="category">
            <option value="">All Things</option>
            <option value="itv">ITV Things</option>
            <option value="prototypes">Prototype Things</option>
        </select>
        <button class=btn>Filter</button>
    </form>

    @foreach(var product in Model)
    {
    <div class="thing-card"style="max-width: 200px">
        <h5>@product.Name</h5>
        <img class="thing-image" src="@product.ImagePath" alt="@product.Name" />
        <div>•@product.Category•</div>
        <p>@product.Description</p>

        <form method="post" asp-action="details">
            <input type="hidden" name="id" value="@product.Id" />
            <select name="color">
                <option value="original">Original Color</option>
                <option value="grayscale">grayscale</option>
            </select>
            <select name="quantity">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
            <br />
            <br />
            @(product.Price.HasValue ? product.Price.Value.ToString("c") : "No Price")

            <button asp-controller="Things" asp-action="Details" asp-route-id="@product.Id" class="btn">View Details</button>
            <button asp-controller="Things" asp-action="AddToCart" asp-route-id="@product.Id" class="btn">Add To Cart</button>
        </form>
    </div>
    }
