@using Microsoft.AspNetCore.Identity
@using InterdimensionalThings.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject InterdimensionalThings.Services.SettingsService settings

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/orbit.css" />
</head>
<body>
    <div class="navBack">
    </div>
    <header>
        <p class="blendText">&copy; 2018 - Interdimensional Things</p>
    </header>
    <hr />
    <nav class="navbar fixed-bottom navbar-dark navbar-expand">
        <a id="Interdimensional" class="navbar-custom nav-bottom" asp-controller="Things" asp-action="Index">
            <img src="/images/PortalBenjaminLight.png" height="30" class="d-inline-block align-top" alt="Neuron">
            Interdimensional Things
        </a>
        <div class="mr-auto"></div>

        <ul class="navbar-nav">
            <li class="nav-item active">
                <div class="nav-block nav-bottom" style="right: 78px; width: 74px ">
                    <a id="Interdimensional" class="btn" data-toggle="collapse" href="#collapseLanguage" role="button" aria-expanded="false" aria-controls="collapseLanguage">
                        @settings.SelectedLanguage
                    </a>
                    <div class="collapse" id="collapseLanguage">
                        <div class="card a-inverse">
                            @foreach (var language in settings.Languages)
                            {
                            @if (settings.SelectedLanguage == language)
                            {
                            <a id="Interdimensional" asp-controller="home" asp-action="language" asp-route-id="@language">@language</a>
                            }
                            else
                            {
                            <a id="Interdimensional" asp-controller="home" asp-action="language" asp-route-id="@language">@language</a>
                            }
                            }
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item active">
                <div class="nav-block nav-bottom" style="right: 1px">

                    <a id="Interdimensional" class="btn" data-toggle="collapse" href="#collapseCurrency" role="button" aria-expanded="false" aria-controls="collapseCurrency">
                        @settings.SelectedCurrency
                    </a>
                    <div class="collapse" id="collapseCurrency">
                        <div class="card a-inverse">
                            @foreach (var currency in settings.Currencies)
                            {
                            @if (settings.SelectedCurrency == currency)
                            {
                            <a id="Interdimensional" asp-controller="home" asp-action="currency" asp-route-id="@currency">@currency</a>
                            }
                            else
                            {
                            <a id="Interdimensional" asp-controller="home" asp-action="currency" asp-route-id="@currency">@currency</a>
                            }
                            }
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item active">
                <div class="nav-block-thing nav-bottom nav-thing" id="69">
                    <a class="btn" asp-controller="Things" asp-action="index">Things</a>
                </div>
            </li>
            <li class="nav-item active">
                <div class="nav-block-thin nav-bottom" style="right: 148px">
                    <a class="btn" data-toggle="collapse" href="#collapseOpen" role="button" aria-expanded="false" aria-controls="collapseOpen">
                        More
                    </a>
                    <div class="collapse" id="collapseOpen">
                        <div class="card a-inverse">
                            <a class="" asp-controller="Home" asp-action="index">Home</a>
                            <a class="" asp-controller="Home" asp-action="About">About</a>
                            <a class="" asp-controller="Home" asp-action="Contact">Contact</a>
                            <a class="" asp-controller="Cart" asp-action="index">Crate</a>
                            @await Html.PartialAsync("_LoginPartial")
                        </div>
                    </div>
                </div>
            </li>
        </ul>
</nav>
    
    <h1>
        <em> </em>
        <em class="planet left"><img src="/images/PortalBenjaminDark.png" style="width: 30px" /></em>
        <em class="planet right">⚛︎</em>
        <em class="planet middle">⦼</em>
    </h1>

    <h1>
        <em> </em>
        <em class="planet2 left2"><img src="/images/PortalBenjaminDark.png" style="width: 20px" /></em>
        <em> </em>
        <em> </em>
        <em class="planet2 right2">⚈</em>
        <em class="planet2 middle2">⊶</em>
    </h1>

    <div class="fixed-bottom" style="z-index: -20; padding-right: 0px; right: 1px">
        <img class=" image-neuron" src="/images/PortalBenjaminDark.png" />
    </div>
    <div class="body-content">
        @RenderBody()
        <footer></footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="~/js/site.js"></script>

    <script type="text/javascript">
        function scrollBottom() {window.scrollTo(0, 99999);}
        if (document.addEventListener) document.addEventListener("DOMContentLoaded", scrollBottom, false)
        else if (window.attachEvent) window.attachEvent("onload", scrollBottom);

        var selectedLanguage = '@settings.SelectedLanguage';

        $(document).ready(function(){
        
            if(selectedLanguage === 'gazorpian'){
                $('h2, h3, h4, h5, h6, p, a, option, label, input, b, td, button').not('#Interdimensional').each(function(i, e, a) {
                    var element = $(e);
                    var gazString = element.text().split(" ").map(x => x.trim()).filter(x => x.length > 0).map(x => x.slice(1, 2).replace("a", "∐") + x[0] + x[x.length - 1]).join(' ');
                    element.text(gazString);
                });
            }

           if(selectedLanguage === 'Gromflamish'){
                $('h2, h3, h4, h5, h6, p, a, option, label, input, b, td, button').not('#Interdimensional').each(function(i, e, a) {
                    var element = $(e);                    
                    var gromString = element.text().split(" ").map(x => x.trim()).filter(x => x.length > 0).map(x => x.replace("a", "∞").replace("b", "º").replace("c", "ƒ").replace("i", "µ").replace("t", "⊶")).join(' ');                    
                    element.text(gromString);
                });
            }
            
            if(selectedLanguage === 'Bird Person'){
                $('h2, h3, h4, h5, h6, p, a, option, label, input, b, td, button').not('#Interdimensional').each(function(i, e, a) {
                    var element = $(e);                                 
                    var birdString = element.text().split(" ").map(x => x.trim()).filter(x => x.length > 0).map(x => x.replace(x, "Chirp")).join(' ');
                    element.text(birdString);
                });
            }
            
            if(selectedLanguage === 'Pig Latin'){
                $('h2, h3, h4, h5, h6, p, a, option, label, input, b, td, button').not('#Interdimensional').each(function(i, e, a) {
                    var element = $(e);                    
                    var pigString = element.text().split(" ").map(x => x.trim()).filter(x => x.length > 0).map(x => x.substr(1, x.length-1) + x[0] + "ay").join(' ');    
                    element.text(pigString);
                });
            }
        });

    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
